// Fonts

$molle: 'Molle', cursive;
$lato: 'Lato', sans-serif;

// Font-size

$font-size1: 15px;
$font-size2: 20px;
$font-size3: 30px;
$font-size4: 37px;
$font-size5: 52px;

// Colors

$color1: #fff;
$color2: #222c40;
$color3: #3d506f;
$color4: #f0f0f0;
$color5: #546279;
$color6: #161f32;
$color7: #1d263a;
$color8: #000;
$color9: #90959f;

// Line Heights

$line1: 22px;