html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

header {
  background: white; }
  header .navbar {
    height: 100px; }
    header .navbar .navbar-brand {
      color: #161f32; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.section01 {
  height: 700px;
  background: #546279; }
  .section01 .section01-div {
    background: #222c40;
    height: 360px;
    width: 100%; }
    .section01 .section01-div h1 {
      margin-bottom: 45px;
      color: #fff; }
    .section01 .section01-div .section01-logo {
      margin-bottom: 20px;
      color: #fff; }
    .section01 .section01-div .p-div {
      width: 58%;
      margin-bottom: 20px;
      color: #fff; }
      .section01 .section01-div .p-div p {
        font-size: 15px;
        text-align: center; }

.section02 {
  height: 600px; }
  .section02 .section02-div01 {
    margin-top: 60px; }
    .section02 .section02-div01 h2 {
      text-align: center; }
    .section02 .section02-div01 h4 {
      margin: 30px 0; }
    .section02 .section02-div01 p {
      margin: 30px 0;
      width: 60%;
      text-align: center;
      margin-bottom: 100px; }
  .section02 .section02-div-obj {
    height: 220px;
    width: 260px; }
    .section02 .section02-div-obj h3 {
      margin: 27px 0; }
    .section02 .section02-div-obj img {
      height: 110px;
      width: 110px;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .section02 .section02-div-obj p {
      text-align: center;
      font-size: 14px; }

.section03 {
  height: 240px;
  background: #1d263a;
  color: white; }
  .section03 .section03-div01 {
    display: none; }
    .section03 .section03-div01 h3 {
      width: 487px;
      margin-top: 70px;
      margin-bottom: 45px;
      text-align: center; }
    .section03 .section03-div01 p {
      margin-bottom: 70px; }

.section04 h2 {
  margin-top: 70px; }

.section04 h5 {
  margin: 30px 0; }

.section04 img {
  margin-bottom: 30px; }

.section04 p {
  text-align: center;
  margin-bottom: 60px; }

.section04 .section04-small {
  margin-right: 20px;
  margin-bottom: 70px; }

.section04 .section04-big {
  padding-bottom: 15px;
  margin-right: 30px; }
  .section04 .section04-big img {
    width: 255px;
    height: 200px; }

.section04 .section04-big:last-child {
  margin-right: 0px; }

.section05 {
  background: #161f32;
  color: white; }
  .section05 .section05-photo {
    margin: 25px 30px 25px 0; }
    .section05 .section05-photo img {
      height: 420px;
      width: 570px; }
  .section05 .section05-info {
    width: 570px;
    margin-top: 25px; }
    .section05 .section05-info h3 {
      margin-bottom: 20px; }
    .section05 .section05-info p {
      margin-bottom: 25px; }
    .section05 .section05-info hr {
      border-top: 1px solid; }
    .section05 .section05-info .btn1 {
      width: 175px;
      height: 50px; }
    .section05 .section05-info .section05-info1 p {
      margin-bottom: 10px; }

.section06 {
  height: 635px; }
  .section06 .section06-photo {
    margin-top: 25px;
    margin-right: 30px; }
    .section06 .section06-photo img {
      width: 255px;
      height: 200px; }
  .section06 .section06-photo:last-child {
    margin-right: 0; }
  .section06 .section06-btn1 {
    height: 55px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 65px; }
    .section06 .section06-btn1 .btn1 {
      height: 100%;
      width: 55px;
      background: #3d506f;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      .section06 .section06-btn1 .btn1 i {
        font-size: 30px;
        color: white; }
  .section06 h2 {
    margin-bottom: 30px; }
  .section06 p {
    text-align: center;
    width: 720px;
    margin-bottom: 70px; }
  .section06 .btn {
    width: 170px;
    height: 50px;
    border: none;
    color: white;
    background: #3d506f; }

.section07 {
  background: #222c40;
  color: white; }
  .section07 h2 {
    padding-top: 65px;
    padding-bottom: 30px; }
  .section07 h4 {
    padding-bottom: 30px; }
  .section07 .brline {
    margin-bottom: 30px; }
  .section07 p {
    padding-bottom: 80px; }
  .section07 .section07-portrait {
    margin-bottom: 25px;
    width: 200px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .section07 .section07-photo {
    text-align: center;
    margin-right: 75px; }
  .section07 .section07-photo:last-child {
    margin-right: 0; }
  .section07 h5 {
    padding-bottom: 20px; }
  .section07 h6 {
    padding-bottom: 65px; }

.section07-display {
  background: #161f32;
  color: white; }
  .section07-display .fa {
    color: white;
    margin-top: 30px; }
  .section07-display h4 {
    padding-bottom: 40px; }
  .section07-display .p-div {
    padding-bottom: 40px; }
  .section07-display .p-div2 {
    padding-bottom: 15px; }
  .section07-display .p-div3 {
    padding-bottom: 30px; }

.section08 {
  background: #f0f0f0; }
  .section08 .section08-div01 {
    margin-bottom: 75px; }
    .section08 .section08-div01 h3 {
      margin-top: 70px;
      margin-bottom: 30px; }
    .section08 .section08-div01 p {
      text-align: center; }
    .section08 .section08-div01 .p-div {
      width: 60%; }
  .section08 .section08-div02 {
    padding-bottom: 70px; }
    .section08 .section08-div02 .company-div {
      width: 555px;
      padding-right: 30px; }
      .section08 .section08-div02 .company-div h4 {
        margin-bottom: 30px; }
      .section08 .section08-div02 .company-div p {
        margin-bottom: 30px; }
      .section08 .section08-div02 .company-div .btn {
        width: 170px;
        height: 50px;
        border: none;
        color: white;
        background: #3d506f; }
    .section08 .section08-div02 .skills-div {
      width: 555px; }
      .section08 .section08-div02 .skills-div .section08-skills {
        color: white;
        width: 555px;
        height: 45px;
        background: #fff;
        margin-top: 10px; }
        .section08 .section08-div02 .skills-div .section08-skills:first-child {
          margin-top: 30px; }
        .section08 .section08-div02 .skills-div .section08-skills .section08-skill1 {
          background: #3d506f;
          height: 45px;
          width: 507px; }
          .section08 .section08-div02 .skills-div .section08-skills .section08-skill1 p {
            padding: 15px; }
        .section08 .section08-div02 .skills-div .section08-skills .section08-skill2 {
          background: #3d506f;
          height: 45px;
          width: 465px; }
          .section08 .section08-div02 .skills-div .section08-skills .section08-skill2 p {
            padding: 15px; }
        .section08 .section08-div02 .skills-div .section08-skills .section08-skill3 {
          background: #3d506f;
          height: 45px;
          width: 519px; }
          .section08 .section08-div02 .skills-div .section08-skills .section08-skill3 p {
            padding: 15px; }
        .section08 .section08-div02 .skills-div .section08-skills .section08-skill4 {
          background: #3d506f;
          height: 45px;
          width: 500px; }
          .section08 .section08-div02 .skills-div .section08-skills .section08-skill4 p {
            padding: 15px; }
  .section08 .section08-under {
    background: #222c40;
    color: white; }
    .section08 .section08-under .under-div {
      padding: 70px 0 70px 0; }
      .section08 .section08-under .under-div p {
        margin-bottom: 10px;
        margin-left: 20px; }

.section09 .section09-div01 h2 {
  margin-top: 70px; }

.section09 .section09-div01 h4 {
  margin: 30px 0; }

.section09 .section09-div01 img {
  margin-bottom: 30px; }

.section09 .section09-div01 p {
  text-align: center;
  margin-bottom: 60px; }

.section09 .section09-btns {
  margin-bottom: 70px;
  margin-right: 20px; }

.row-box {
  height: 300px;
  margin-bottom: 30px; }
  .row-box .box-photo {
    width: 50%;
    background: #000; }
  .row-box .box-info {
    color: white;
    background: #161f32;
    width: 50%; }
    .row-box .box-info h4 {
      margin: 25px 0 0 30px; }
    .row-box .box-info h5 {
      margin: 25px 0 25px 30px; }
    .row-box .box-info p {
      margin: 0 25px 0 30px; }
  .row-box .box-big {
    color: #fff;
    width: 100%;
    background: #161f32;
    margin-bottom: 30px; }
    .row-box .box-big h4 {
      padding: 25px 0 0 30px; }
    .row-box .box-big h5 {
      padding: 25px 0 25px 30px; }
    .row-box .box-big p {
      padding: 0 25px 40px 30px; }

.row-box2 {
  background: #161f32;
  height: 100%;
  color: white; }
  .row-box2 .box-photo2 {
    height: 300px; }
    .row-box2 .box-photo2 img {
      height: 100%; }
  .row-box2 .box-info2 {
    height: 335px; }
